URxvt.iso14755: false
URxvt.iso14755_52: false

URxvt.perl-ext-common: default,keyboard-select,clipboard,resize-font,matcher,url-select

URxvt.intensityStyles:	false
URxvt.depth:		32
URxvt.font: 		xft:IosevkaNerdFont:style=medium:pixelsize=12
URxvt.boldFont:		xft:IosevkaNerdFont:style=heavy:pixelsize=12
URxvt.scrollBar:	false
URxvt.internalBorder: 8

URxvt.url-launcher:	/usr/bin/xdg-open
URxvt.matcher.button:	1

URxvt.keysym.M-u: perl:url-select:select_next
URxvt.url-select.launcher: /usr/bin/xdg-open
URxvt.url-select.underline: true

URxvt.resize-font.smaller:	C-Down
URxvt.resize-font.bigger:	C-Up

