[submodule "scripts/.scripts/intellijPywal"]
	path = scripts/.scripts/intellijPywal
	url = https://github.com/Mr-SD/intellijPywal.git
[submodule "awesome/.config/awesome/lain"]
	path = awesome/.config/awesome/lain
	url = https://github.com/lcpz/lain.git
[submodule "zsh/.oh-my-zsh/custom/themes/powerlevel10k"]
	path = zsh/.oh-my-zsh/custom/themes/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k.git
